<div>
  <select [compareWith]="compareById" id="productsDropdown" class="form-control" (change)="onChange($event)" [(ngModel)]="_value">
    <option *ngFor="let product of products" [ngValue]="product" selected>{{product.name}}</option>
  </select>
</div>
