<div class="modal-content">
  <div class="modal-header">
    <h4>{{context.title}}</h4>
  </div>
  <div class="modal-body">
    <ul class="info-row-container">
      <li *ngFor="let entry of context.product | properties" class="container">
        <strong class="col-lg-3">{{entry.key}}</strong>
        <span class="col-lg-9">{{entry.value}}</span>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" (click)="onCancel()">ANULUJ</button>
    <button class="btn btn-success" (click)="onConfirm()">POTWIERDŹ</button>
  </div>
</div>
