<table class="table">
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Nazwa produktu</th>
    <th>tłuszcze/100g</th>
    <th>węglowodany/100g</th>
    <th>białko/100g</th>
    <th>Standardowa miara</th>
    <th><strong>Akcje</strong></th>
  </tr>
  </thead>
  <tr *ngFor="let item of products; let i = index">
    <td>{{i+1}}</td>
    <td>{{item.name}}</td>
    <td>{{item.fatPerUnit}}</td>
    <td>{{item.carboPerUnit}}</td>
    <td>{{item.proteinPerUnit}}</td>
    <td>{{item.defaultStandard.name}}</td>
    <td>
      <button (click)="deleteProduct(item)" class="btn btn-danger">Usuń</button>
    </td>
  </tr>
</table>
