<div class="form-group" [class.has-error]="validationResponse!==null && !validationResponse.isValid()">
  <ng-content></ng-content>
  <div class="col-md-offset-3 form-text text-muted" *ngIf="validationResponse!==null && !validationResponse.valid">
    <ul>
      <li *ngFor="let message of validationResponse.responseMessages">{{message}}</li>
    </ul>
  </div>
</div>
