<div class="modal-content">
  <div class="modal-header">
    <h4>Dodaj produkt do listy</h4>
  </div>
  <div class="modal-body">
    <fieldset>
      <div class="form-group row">
        <label class="col-md-3">
          Produkt
        </label>
        <div class="col-md-9">
          <food-products-dropdown [(ngModel)]="productServing.product"></food-products-dropdown>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group row">
        <label class="col-md-3">Miara</label>
        <div class="col-md-9">
          <food-product-quantity [(ngModel)]="productServing.productQuantity"></food-product-quantity>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <fieldset>
      <button class="btn btn-default" (click)="onCancel()">ANULUJ</button>
      <button class="btn btn-success pull-right" (click)="onConfirm()">POTWIERDŹ</button>
    </fieldset>
  </div>
</div>
