<table class="table">
  <thead>
  <tr>
    <th>Lp.</th>
    <th>Nazwa przepisu</th>
    <th><strong>Akcje</strong></th>
  </tr>
  </thead>
  <tr *ngFor="let item of receipts; let i = index">
    <td>{{i+1}}</td>
    <td>{{item.name}}</td>
    <td>
      <button (click)="showReceipt(item)" class="btn btn-default">pokaż</button>
      <button (click)="deleteReceipt(item)" class="btn btn-danger">usuń</button>
      <button (click)="editReceipt(item)" class="btn btn-info">edytuj</button>
    </td>
  </tr>
</table>
