<food-form-container [formGroup]="reactiveForm" endpoint="receipt" (onSubmit)="onSubmit()">
  <fieldset>
    <legend>Dodaj przepis</legend>
    <food-form-group>
      <label class="col-md-3" for="name">Nazwa</label>
      <div class="col-md-9">
        <input food-validatable formControlName="name" type="text" class="form-control" id="name"
               placeholder="krótka opisowa nazwa, np. `kurczak z ryżem`">
      </div>
    </food-form-group>
    <table class="table">
      <caption>lista produktów</caption>
      <thead>
      <tr>
        <th>nazwa</th>
        <th>ilosc</th>
      </tr>
      </thead>
      <tr *ngFor="let item of productServings ; let i = index">
        <td>{{item.product.name}}</td>
        <td>{{item.productQuantity.value}}</td>
      </tr>
    </table>
    <div class="form-group">
      <a (click)="addReceiptItem()" class="btn btn-info btn-lg btn-block">Dodaj produkt</a>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!formValidationState">Dodaj</button>
  </fieldset>
</food-form-container>
