<food-form-container [formGroup]="reactiveForm" endpoint="product" (onSubmit)="onSubmit()">
  <fieldset>
    <legend>Dodaj produkt</legend>
    <food-form-group>
      <label class="col-md-3" for="name">Nazwa</label>
      <div class="col-md-9">
        <input food-validatable formControlName="name" type="text" class="form-control" id="name"
               placeholder="krótka opisowa nazwa, np. `ryż biały`">
      </div>
    </food-form-group>
    <food-form-group>
      <label class="col-md-3" for="fat">Tłuszcz</label>
      <div class="col-md-9">
        <input food-validatable formControlName="fatPerUnit" type="text" class="form-control" id="fat"
               placeholder="masa tłuszczu w 100g produktu">
      </div>
    </food-form-group>
    <food-form-group>
      <label class="col-md-3" for="carbo">Węgle</label>
      <div class="col-md-9">
        <input food-validatable formControlName="carboPerUnit" type="text" class="form-control" id="carbo"
               placeholder="masa węglowodanów w 100g produktu">
      </div>
    </food-form-group>
    <food-form-group>
      <label class="col-md-3" for="protein">Białko</label>
      <div class="col-md-9">
        <input food-validatable formControlName="proteinPerUnit" type="text" class="form-control" id="protein"
               placeholder="masa białka w 100g produktu">
      </div>
    </food-form-group>
    <food-form-group>
      <label class="col-md-3" for="defaultStandard">Standardowa miara</label>
      <div class="col-md-9">
        <food-quantity-standard formGroupName="defaultStandard"
                                id="defaultStandard"></food-quantity-standard>
      </div>
    </food-form-group>
    <button type="submit" class="btn btn-default" [disabled]="!formValidationState">Dodaj</button>
  </fieldset>
</food-form-container>
