<div class="container">
  <food-navbar></food-navbar>
</div>
<div class="container">
  <div class="alert alert-dismissible alert-warning" [hidden]="connectionEstablished" (click)="onClick()">
    <p>Problem z połączeniem z bazą danych</p>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
