/* You can add global styles to this file, and also import other style files */

.info-row,
.info-row-container > * {
  list-style-type: none;
}

.info-row > span,
.info-row-container > * > span {
}

.info-row > strong,
.info-row-container > * > strong {
}
