<div class="row">
  <div class="col-xs-8">
    <input (keyup)="onQuantityChange($event)" (change)="onQuantityChange($event)"  [(ngModel)]="value && value.value" type="text" class="form-control" id="productQuantityValue"
           placeholder="">
  </div>
  <div class="col-xs-4">
    <food-quantity-standard (change)="onStandardChange($event)" [(ngModel)]="value && value.standard"></food-quantity-standard>
  </div>
</div>
