<select [compareWith]="compareById" class="form-control" (change)="onChange($event)" [(ngModel)]="_value">
  <option *ngFor="let standard of quantityStandards" [ngValue]="standard">{{standard.name}}</option>
</select>
